.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  color: #857e74;
  padding: 16px;
  border-radius: 4px;
}
.Weather h1 {
  font-size: 25px;
  font-weight: 100;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
.Weather img {
  margin-top: -20px;
  margin-right: 5px;
  height: 64px;
  width: 64px;
  display: inline-block;
}

.Weather .temperature {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  color: #2e2823;
  opacity: 0.7;
}
.Weather .unit {
  font-weight: 400;
  font-size: 16px;
  position: relative;
  line-height: 1;
  top: -34px;
}
